# server
SECRET=<YOUR_SECRET_KEY>
RECAPTCHA_SECRET_KEY=<YOUR_SECRET_KEY>
NEXTAUTH_URL=<NEXTAUTH_URL>
EMAIL_SERVER_USER=<EMAIL_SERVER_USER>
EMAIL_SERVER_PASS=<EMAIL_SERVER_PASS>
EMAIL_SERVER_HOST=<EMAIL_SERVER_HOST>
EMAIL_SERVER_PORT=<EMAIL_SERVER_PORT>
EMAIL_FROM=<EMAIL_FROM>
EMAIL_MAX_AGE=<EMAIL_MAX_AGE>

# client
NEXT_PUBLIC_baseURL=<NEXT_PUBLIC_AXIOS_baseURL>

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:../database.sqlite"